# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Mac system files
*.DS_Store
customnerd-backend/customnerdnew.txt
customnerd-backend/dietnerd.txt
logs/
customnerd-backend/nerd_engine_venv/
customnerd-backend/nerd_engine_venv.zip